$pc-design-width: 1440;
$sp-design-width: 375; // SPデザインの幅を設定

@function vw($num, $width: $sp-design-width) {
  @return (math.div(100vw * $num, $width));
}

@function vwPC($num, $width: $pc-design-width) {
  @return (math.div(100vw * $num, $width));
}

@function calcPer($num, $width: $sp-design-width) {
  @return (math.div(1% * $num, $width * 100));
}

@function vwPerPC($num, $width: $pc-design-width) {
  @return (math.div(1% * $num, $width * 100));
}

@function get_fzvw($size, $viewport: $sp-design-width) {
  $rate: math.div(100, $viewport);
  @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size: 10) {
  font-size: get_fzvw($font_size);
}
