mixin modal()
  .bl_modal
    .bl_modal_wrap
      .bl_modal_mask
      .bl_modal_contents
        .bl_modal_yt
          iframe(title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
