block var
include ./_data/_meta

- const IMAGE_URL = self.htmlWebpackPlugin.options.data
- const path = meta[page].path
- const img = IMAGE_URL =='' ? `${path}assets/images/` : `${IMAGE_URL}assets/images/`

include ./common/_head

<!DOCTYPE html>
html(lang="ja")
  head
    +head(page,meta)
    include ./common/_gahead
  body(class=page)
    .ly_wrap
      header.ly_header
        include ./common/_header
      main.ly_main
        block content
      footer.ly_footer
        include ./common/_footer
