// block
.hp_db {
  display: block;
}
.hp_db-pc {
  display: block;
  @include media("<tab") {
    display: none;
  }
}
.hp_db-sp {
  display: none;
  @include media("<tab") {
    display: block;
  }
}
.hp_dib-db {
  display: inline-block;
  @include media("<tab") {
    display: block;
  }
}

.hp_dn-sp {
  @include media("<tab") {
    display: none !important;
  }
}
.hp_dn-pc {
  @include media(">tab") {
    display: none !important;
  }
}

.hp_dn-di {
  display: none;
  @include media("<tab") {
    display: inline;
  }
}

// inline-block
.hp_dib {
  display: inline-block;
}
.hp_dib-pc {
  display: inline-block;
  @include media("<tab") {
    display: none;
  }
}
.hp_dib-sp {
  display: none;
  @include media("<tab") {
    display: inline-block;
  }
}
.hp_db-dib {
  display: block;
  @include media("<tab") {
    display: inline-block;
  }
}
.hp_db-di {
  display: block;
  @include media("<tab") {
    display: inline;
  }
}
.hp_dib-di {
  display: inline-block;
  @include media("<tab") {
    display: inline;
  }
}
.hp_dib-db {
  display: inline-block;
  @include media("<tab") {
    display: block;
  }
}

// inline
.hp_di {
  display: inline;
}
.hp_di-pc {
  display: inline;
  @include media("<tab") {
    display: none;
  }
}
.hp_di-sp {
  display: none;
  @include media("<tab") {
    display: inline;
  }
}

// flex
.hp_df {
  display: flex;
}
.hp_df-pc {
  display: flex;
  @include media("<tab") {
    display: none;
  }
}
.hp_df-sp {
  display: none;
  @include media("<tab") {
    display: flex;
  }
}

// flex
.hp_dif {
  display: inline-flex;
}
.hp_dif-pc {
  display: inline-flex;
  @include media("<tab") {
    display: none;
  }
}
.hp_dif-sp {
  display: none;
  @include media("<tab") {
    display: inline-flex;
  }
}
