block append  var
-
  var meta = {
    "global": {
      "og_site_name": "webpack static site template",
      "og_image": "https://a.com/ogp.png",
      "title": "webpack static site template",
      "og_type": "website"
    },
    "home": {
      "title": "webpack static site template",
      "description": "description",
      "url": "https://a.com",
      "path": "./"
    },
    "sub": {
      "title": "webpack static site template",
      "description": "description",
      "url": "https://a.com",
      "path": "../"
    }
  };
