extends ./_include/_template

block var
  - var page = 'home';
  include ./_include/_data/_data

block content
  h1 webpack static site template
  .el_svg
    +svg({src:"logo.svg",id:"logo",w:"500",h:"500"})
  p hello
  .hp_pt100
  div
    button(data-yt="9kMGyCMBOsg").js-ytmodalbtn Youtube
  .hp_pt70.hp_sp_pt30
  div
    .js-toggle-trigger
      p 開閉ボタン
    .js-toggle-target
      p テキストが入ります。
      p テキストが入ります。
      p テキストが入ります。

  div
    +picture({
      pc:"pc.jpg",
      sp:"sp.jpg",
      alt:"picture",
      pcw: "400",
      pch: "300",
      spw: "400",
      sph: "300",
    })
  +modal()
