extends ./_include/_template

block var
  - var page = 'home';
  include ./_include/_data/_data

block content
  h1 webpack static site template
  .hp_pt100
  +picture({
    path:"",
    name:"pc",
    type:"jpg",
    sp:"sp",
    alt:"picture",
    pcw: "400",
    pch: "300",
    spw: "200",
    sph: "150",
  })
  .bl_block
