extends ./_include/_template

block var
  - var page = 'home';
  include ./_include/_data/_data

block content
  h1 webpack static site template
  +picture({
    path:"",
    name:"pc",
    type:"jpg",
    sp:"sp",
    alt:"picture",
  })
