// @import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap");
body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 20px;
  @media all and (-ms-high-contrast: none) {
    font-family: "メイリオ";
  }
}
* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a[href^="tel:"] {
  pointer-events: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
  // width: 100%;
  height: auto;
  &.lazyload {
    // width: 100%;
  }
}
i,
em,
strong,
address {
  font-style: normal;
}
input {
  font-family: inherit;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
}
button {
  background-color: inherit;
  padding: 0;
  bottom: 0;
  margin: 0;
  border: none;
}
